/* @import "proxima-nova.css"; */
/*
variables 

$body-bg: #f3f3f3;
$body-bg: #ffffff;
$text-color: #444;
$brand-color: #fdbc1d;
$secondary-color: #f78d00;

---- Typography ----------

$font-family-base: 'Proxima Nova', sans-serif;

---- Media queries breakpoints-----

$screen-sm-min: 768px;
$screen-md-min: 992px;
$screen-lg-min: 1200px;


*/

body {
    background-image: url(./img/background.png);
    font-family: 'Proxima Nova', sans-serif;
    margin:0px;
}

.logo {
	padding:16px;
}

.banner {
	width:100%;
	position: relative;
  	overflow: hidden;
  	 background-image: url("./img/banner_bg.png");
  	background-repeat: no-repeat;
	background-size: cover;
  	background-clip: content-box;
  	background-position: center;
  	background-attachment: fixed;
}

.banner-content-container{
	background-color:rgba(0, 0, 0, 0.4);
	/*position:absolute;*/
	margin-top: 50px;
	bottom:0;
	margin: auto;
	left: 0;
	right: 0;
}

.banner-text-container{
	margin:32px;
}

.banner-text-header{
	color:white;
	font-size: 48px;
	font-weight: bold;
	text-shadow: black 0.1em 0.1em 0.2em
}

.banner-text-body{
	color:white;
	font-size: 28px;
	font-weight: lighter;
	text-shadow: black 0.1em 0.1em 0.2em
}

.banner-text-footer{
	color:white;
	font-size: 14px;
	font-weight: lighter;
	bottom:0;
	position:absolute;
}

.special-text{
    color: #fdbc1d;
    font-weight: bold;
}

.registration-form .header {

    background-color: #fdbc1d;
    color: #FFF;
    text-align:center;
    padding:16px;
    font-weight: bold;
    font-size: 28px;
   
}

.registration-form .item {
    border-width: 0px 1px 1px 1px;
    border-style: solid;
    border-color: #e7e7e7;
    display: flex;
    flex-flow: row wrap;
    flex-direction: row;
    font-size: 22px;
}

.registration-form .item .input {
    padding:16px;
    outline: none;
    border: 0px;
    width:100%;
    font-size: 22px;
    max-width: 100%;
}
    
.registration-form .submit {
	background-color: #f78d00;
	color: #FFF;
	cursor:pointer;
	text-align:center;
    padding:16px;
    font-weight: bold;
    font-size: 28px;
}

.action-container {
	flex: 1;
	margin:32px;
}

.action-container .logo{
	display:block;
    margin:auto;
}

.action-container .content-header{
	font-weight: bold;
	text-align: center;
	font-size: 24px;
}

.action-container .content-body{
	text-align: center;
	font-size: 22px;
}

.container {
	margin: 0 auto;
	width: 75%;
	display: -webkit-flex; /* Safari */
    -webkit-flex-wrap: wrap;  /* Safari 6.1+ */
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.container-left {
	margin: 0 auto;
	flex: 2;
	position: relative;
	margin-right: 8px;
}

.container-right {
	margin: 0 auto;
	flex: 1;
	margin-left: 8px;

}

/* Footer css*/
.footer {
	margin: 0 auto;
	padding: 40px 0 20px 0;
	color: #ffffff;
	background-color: #fdbc1d;
	font-weight: 600;
	font-size: 15px;
	position:relative;
}

.footer-list {
	display: -webkit-flex; /* Safari */
    -webkit-flex-wrap: wrap;  /* Safari 6.1+ */
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	margin: 0 0 5em 0;
	list-style: none;
	width: 100%;
}

.footer-list .footer-item {
  padding: 0 0.5em;
  flex: 1;
}

.footer-item .footer-maps-button {
    display: flex;
    max-height: 32px;
    flex-direction: row;
    align-items: center;
    background-color: #eee;
 	width:180px;
    /*
    &:hover {
      @mixin box-shadow 3px 3px 5px rgba(0, 0, 0, 0.25);
    }
    */
}
.footer-item .footer-maps-button .Footer-maps-label     {
  flex: 1;
  text-align: center;
  line-height: 0.75em;
  padding: 5px;
  color: #444;
}

.footer-item .footer-social-media {
    color: #fbeaaa;
    margin-left: 10px;
    /*
    &:hover {
      color: #fff;
    }
    */
}

.copyright{
	position: absolute;
	bottom: 0;
	left:0;
	margin-left:16px;
	margin-bottom: 5px;
}

#loader-bg{
	display: table;
	position:absolute;
	background: rgba(0,0,0,0.5);
	top:0;
	left:0;
	z-index:1;
	width:100%;
	height:100%;
}

#loader{
	display: table-cell; 
	vertical-align: middle;
	text-align:center;
	font-family: 'Proxima Nova', sans-serif;
	font-size:24px;
	color:white;
	text-shadow: black 0.1em 0.1em 0.2em
	font-weight:bold;
}

#loader img{
	width:24px;
	height:24px;
	padding-right:10px;
}

/* Media rules */
@media all and (max-width: 1200px) {
	.container-left {
		margin: 0px;
		width: 100%;
		flex:none;
	}

	.container-right {
		margin: 0px;
		width: 100%;
		flex:none;
	}
	.banner-text-container{
		padding-bottom:100px;
	}
}

@media all and (max-width: 450px) {
	.banner-text-header{
		font-size: 36px;
	}

	.banner-text-body{
		font-size: 22px;
	}

	.banner-text-footer{
		font-size: 14px;
	}

	.registration-form .header {
	    font-size: 22px;
	}

	.registration-form .item {
	    font-size: 18px;
	}

	.registration-form .item .input {
	    font-size: 18px;
	}
    
	.registration-form .submit {
	    font-size: 22px;
	}

	.action-container .content-header{
		font-size: 22px;
	}

	.action-container .content-body{
		font-size: 18px;
	}

	.footer {
		font-size: 12px;
	}

	.footer-list .footer-item {
		width: 100%;
		flex:none;
	}
	.footer-item .footer-maps-button .Footer-maps-label     {
		width:100%;
		flex:none;
	}
}
